<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Spam SMS Detector</title>
        <link rel="shortcut icon" href="spam-favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
    		<h2><span>Spam Detector</span> for Short Message Service (SMS)</h2>
            <div class='description'>
    			<p>Machine Learning App with Flask, Deployed on Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
        		<textarea class='message-box' name="message" rows="15" cols="75" placeholder="Enter Your Message Here..."></textarea><br/>
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
        <footer>Made with ❤️ by Anuj Vyas.</footer>
        
    </body>
</html>
